:root {
  /* the colors below */
  --black: #000;
  --white: #fff;
  --accent: #2d1e2f;
  --sec-accent: #461220;

  /* font family */
  --def-font: sans-serif;
}

/* universal links : a */
a {
  color: var(--black);
  text-decoration: underline;
  font-style: italic;
}

/* universal selectors - give the whole page the margin and padding */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

/* below is the styling for header */

.header-content {
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  text-align: center;
}

#title {
  text-align: left;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
  color: var(--sec-accent);
}

.profile-img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  text-align: center;
}

span {
  font-family: monospace;
}

.sub-heading {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 3.125rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* below is the style for the unordered list */
.ul-tag {
  padding-top: 1.875rem;
}
.ul-tag li {
  list-style-type: circle;
  font-size: 1.5rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}

/* horizontal line styling */
hr {
  border-top: 5px solid var(--accent);
  width: 80%;
  margin: 0 auto;
}

/* below is the styling for about me */
article {
  margin-bottom: 100px;
}
.article-header {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.25rem;
}

#school-link:hover {
  font-size: 1.6rem;
  font-weight: 900;
  color: blue;
}

i {
  padding-left: 5px;
  color: var(--white);
}

.ol-tags {
  margin-top: 3.125rem;
  text-align: center;
  margin-bottom: 6.25rem;
}
.ol-tags li {
  list-style-type: none;
  display: inline-block;
  color: var(--white);
}

/* below is the style for the contact me button */
.contact-me {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
}

.contact-me a {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}
address {
  text-align: center;
  margin-bottom: 3.125rem;
}

iframe {
  display: block;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 3.125rem;
}

.img-props {
  height: 18.75rem;
  width: 18.75rem;
  float: left;
}

/* below are the code for media query - if it gets smaller than a phone or tablet */

/* below is for tablet */
@media (max-width: 810px) {
  .img-props {
    visibility: hidden;
  }
}

/* below is for phone */
@media (min-width: 428px) {
  .img-props {
    visibility: hidden;
  }
}
