:root {
  /* the colors below */
  --black: #000;
  --white: #fff;
  --accent: #2d1e2f;

  /* font family */
  --def-font: sans-serif;
}

/* universal selectors - give the whole page the margin and padding */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

/* below is the styling for header */

.header-content {
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  text-align: center;
}

#title {
  text-align: left;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

.profile-img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  text-align: center;
}

span {
  font-family: monospace;
}

.sub-heading {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 3.125rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* below is the style for the unordered list */
.ul-tag {
  padding-top: 1.875rem;
}
.ul-tag li {
  list-style-type: circle;
  font-size: 1.5rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}

/* horizontal line styling */
hr {
  border-top: 5px solid var(--accent);
  width: 80%;
  margin: 0 auto;
}

/* below is the styling for about me */
.article-header {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.25rem;
  text-decoration: underline;
}
